body{
    background-color: aliceblue;
}
.container{
    margin: 20px 300px;
    background-color: #fdfdfd;
    padding: 2px 17px;
    border-radius: 17px;
-webkit-box-shadow: -1px 2px 95px -1px rgba(235, 235, 235, 1);
    -moz-box-shadow: -1px 2px 95px -1px rgba(235, 235, 235, 1);
    box-shadow: -1px 2px 95px -1px rgba(235, 235, 235, 1);
    
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group select, input{
    margin-top: 9px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #878181;
}

button{
    padding: 15px;
    margin-bottom: 30px;
    background-color: #e4e1e1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
